		body {
		background-color: rgb(39, 38, 40)
		}
		
		div.box {
		text-align: center;
		}

		div.head-img {
		text-align: center;
		position: relative;
		top: -40px;
		margin: 5px;
		padding: 5px;
		}
		
		img{
		border: 3.5px solid;
		}
		
		p {
		text-align: left;
		color: white;
		font-weight: medium;
		font-size: 20px;
		font-family: sans-serif;
		}
		
		h1 {
		text-align: center;
		font-weight: bolder;
		font-size: 60px;
		color: white;
		}
		
		h2 {
		text-align: center;
		font-weight: bold;
		font-size: 50px;
		color: white;
		}
		
		h4 {
		text-align: center;
		font-weight: bold;
		font-size: 40px;
		color: white;
		}

		h3 {
		color: white;
		font-weight: less-bold;
		font-size: 30px;
		text align: center;
		}
		
		h5 {
		color: white;
		text-align: center;
		font-weight: lighter;
		font-size: 15px;
		font-family: sans-serif;
		}
